<div class="third-width">
  <div class="collection-item">
    <div class="card-block">
      <h2 class="collection-title js-clamp-1">
        <a href="#">
          <%= collection.name %>
        </a>
      </h2>
      <div class="card-text collection-description-container">
        <p class="collection-description js-clamp-3"><%= collection.description %></p>
      </div>
      <a href="#" class="btn btn-sm btn-primary-outline">View 3 documents</a>
    </div>
  </div>
</div>
